body {
    padding: 10px;
    text-align: center;
}

main {
    border: 0.1rem solid black;
    padding: 1rem;
    color: red;
    text-align: center;
}

h1 {
    border: 0.1rem solid black;
    padding: 1rem;
    color: red;
    text-align: center;
}

h2 {
    border: 0.1rem solid black;
    padding: 1rem;
    color: red;
    text-align: center;
}

p {
    border: 0.1rem solid black;
    padding: 1rem;
    color: red;
    text-align: center;
}