body {
    padding: 1rem;
    text-align: center;
    background-color: #f8a834;
    padding-bottom: 30%;
}

main {
    border: 0.1rem solid black;
    padding: 1rem;
    text-align: center;
    background-color: #FFED82;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0.1rem solid black;
    margin: 1rem;
    background-color: #FFF3A1;
    border-radius: 15%;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    min-width:100%;
    border-top: 0.1rem solid black; 
    bottom: 0;
    left: -0.5%; 
    background-color: #602400;
}

.border{
    border: 0.1rem solid black;
    border-radius: 5%;
    padding: 0.2rem;
    margin: 0.5rem;
}

.section_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    transform: translatex(-7.5%);
}

li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    margin: 0.5rem;
}

h3{
    font-size: 0.9rem;
}

h2{
    border: 0.1rem solid black;
    padding: 0.2rem;
    margin: 0.5rem;
}

.img_raposa{
    max-width:65% ;
    max-height: 90%;
}

.img_casa{
    max-width:60% ;
    max-height: 80%;
}

.img_progresso{
    max-width:70% ;
    max-height: 80%;
}

.img_prato{
    max-width:20% ;
    max-height: 20%;
}

.bk{
    background-color: white;
}

.bk2{
    background-color:#FFF3A1;
}
a{
    text-decoration: none;
    color: black;
}